<ul>
    <li class="row">
        <div class="form-group col-lg-2">
            <label for="">Room N</label>
        </div>
        <div class="form-group col-lg-2">
            <label for="">Issues</label>
        </div>
        <div class="form-group col-lg-2">
            <label for="">Is solved</label>
        </div>
    </li>
    <li class="row" ng-repeat="dayBilling in billingInfo">

        <div class="form-group col-lg-2">
            <!-- <input type=" date" placeholder="yyyy-MM-dd" value="{{dayBilling.date.format('YYYY-MM-DD')}}" /> -->
            {{dayBilling.billdate.format("DD/MM/YYYY")}}
        </div>
        <div class="form-group col-lg-2">
            <input type=" text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
                ng-model="dayBilling.ourside" ng-change="changeStatus(dayBilling)">
            <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
        </div>
        <div class="form-group col-lg-2">
            <input type=" text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
                ng-model="dayBilling.hotelside">
            <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
        </div>
        <div class="form-group col-lg-2">
            <small id="status{{$index}}" class="form-text text-muted align-middle"
                ng-show="dayBilling.status">{{dayBilling.status}}</small>
        </div>
    </li>
    <li>
        <button type="button" class="btn btn-primary" ng-click="add();">Add</button>
        <button type="button" class="btn btn-primary" ng-show="needSave()" ng-click="save();">Save</button>
    </li>
</ul>
