<ul>
    <li class="row">
        <div class="form-group col-lg-1">
            <label for="">#</label>
        </div>
        <div class="form-group col-lg-2">
            <label for="">Room N</label>
        </div>
        <div class="form-group col-lg-2">
            <label for="">Isues</label>
        </div>
        <div class="form-group col-lg-1">
            <label for=""></label>
        </div>
    
    </li>
    <li class="row" ng-repeat="issue in issuesList">
        <div class="form-group col-lg-1">
            <label>{{$index+1}}</label>
        </div>

        <div class="form-group col-lg-2">
            <!-- <input type=" date" placeholder="yyyy-MM-dd" value="{{dayBilling.date.format('YYYY-MM-DD')}}" /> -->
            <label>{{issue.roomN}}</label>
        </div>
        <div class="form-group col-lg-2">
            {{issue.issues}}
        </div>
        <div class="form-group col-lg-2">
            <input type="checkbox" class="form-check-input" name="chkbIsSolved" value="checkedValue"
                ng-model="issue.isSolved" ng-click="chkbIsFinished_click(todoItem)">
        </div>
        <div class="form-group col-lg-1">
            <small id="status{{$index}}" class="form-text text-muted align-middle"
                ng-show="dayBilling.status">{{dayBilling.status}}</small>
        </div>
    </li>
    <li>
        <button type="button" class="btn btn-primary" ng-click="add();">Add</button>
        <button type="button" class="btn btn-primary" ng-show="needSave()" ng-click="save();">Save</button>
    </li>
</ul>
