<div class="container mt-1">
    <div id="printArea">
        <div class="modal-header">
            <h3>{{activeUser?activeUser.name:"undefined"}} {{date()|date:"dd/MM/yyyy HH:mm"}}
                {{hotelParam.hotelObj.get("name")}}</h3>
        </div>
        <div class="modal-body">

            <table class="table tableForPrint">
                <tr>
                    <th>room N</th>
                    <th>Isue</th>
                </tr>
                <tr ng-repeat="issue in issuesList">
                    <td>{{issue.roomN}}</td>
                    <td>{{issue.issues}}</td>
                </tr>
            </table>

            <!-- <table class="table">
            <thead>
                <tr>
                    <th>room N</th>
                    <th>Isue</th>
                    <th>notes</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                  <td>1</td>
                  <td>ucf is broken</td>
                  <td></td>
              </tr>  
                <tr ng-repeat="issue in issues">
                    <td>{{issue.roomN}}</td>
                    <td>{{issue.issue}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table> -->
        </div>
    </div>
    <div class="modal-footer" id="printfooter">
        <button class="btn btn-primary" type="button" ng-click="$event.preventDefault();printIt();ok()">Print</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>

</div>